@font-face {
  font-family: "LifeCraftRegular";
  src: url("font/1dd8d81c8ec73dac8887c1243a771e56.eot");
  /* IE9*/
  src: url("font/1dd8d81c8ec73dac8887c1243a771e56.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("font/1dd8d81c8ec73dac8887c1243a771e56.woff2") format("woff2"),
    /* chrome、firefox */
    url("font/1dd8d81c8ec73dac8887c1243a771e56.woff") format("woff"),
    /* chrome、firefox */
    url("font/1dd8d81c8ec73dac8887c1243a771e56.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("font/1dd8d81c8ec73dac8887c1243a771e56.svg#LifeCraftRegular") format("svg");
  /* iOS 4.1- */
}

* {
  font-size: 1.8rem;
}

/* li.nav-link {
  font-size: 12px !important;
} */


html {
  scroll-behavior: smooth;
}

.center-text {
  text-align: center;
}

.nav-link {
  cursor: pointer;
  font-size: 12px !important;
}

.wow_font {
  font-family: "LifeCraftRegular" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

p {
  text-align: center !important;
}

.center {
  padding: 0;
  margin: auto;
  display: block;
  max-width: 800px !important;
}

.bk {
  margin-left: auto !important;
  margin-right: auto !important;
}

.bk-logo-small,
.bk-tool-icon-pan,
.bk-tool-icon-wheel-zoom,
.bk-divider,
.bk-tool-icon-save,
.bk-tool-icon-hover {
  display: none !important;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #A0A0A0;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #A0A0A0;
}

.styled-table.horde tbody tr:last-of-type {
  border-bottom: 2px solid #FF3333;
}

.styled-table.horde thead tr {
  background-color: #FF3333;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table.male tbody tr:last-of-type {
  border-bottom: 2px solid #0069d1;
}

.styled-table.male thead tr {
  background-color: #0069d1;
  color: #ffffff;
  text-align: left;
}

.styled-table.female tbody tr:last-of-type {
  border-bottom: 2px solid #D44ACC;
}

.styled-table.female thead tr {
  background-color: #D44ACC;
  color: #ffffff;
  text-align: left;
}

.styled-table.alliance tbody tr:last-of-type {
  border-bottom: 2px solid #3399FF;
}

.styled-table.alliance thead tr {
  background-color: #3399FF;
  color: #ffffff;
  text-align: left;

}

.small-header {
  font-weight: 800;
  margin-bottom: 0;
}


table {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.network-visual {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
